.checked{
    text-decoration: line-through;   
    color:grey
}

.unchecked{
    text-decoration: none;
}


.btns{
   margin: 8px;
   font-size: large;
   cursor:pointer;
   }

.btns :hover{
     opacity: 0.5;

}
.lists {
 display:flex;
 justify-content: space-evenly;
 margin-bottom: 15px;
}

.listsBtn{
    cursor:pointer;
    text-decoration:none;
}

.listsBtn:hover{
    opacity: 0.5;
    text-decoration:underline;
}

.listsBtnClicked{
    text-decoration:underline;
    cursor:pointer;
}

